<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FlipkartAutomationSuite">
	
	<listeners>
        <listener class-name="reporting.ExtentTestListener"/>
    </listeners>
    
    <test name="Flipkart Tests - Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
           <class name="tests.LoginTest"/>
            <class name="tests.ProductTest"/>
            <class name="tests.CartTest"/>
        </classes>
    </test>
	<!--
	<test name="Flipkart Tests - Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.ProductTest"/>
            <class name="tests.CartTest"/>
        </classes>
    </test>
    -->
</suite>
